@import "bootstrap";

html {
  overflow-y: scroll;
}
.center{
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 130px;
  text-align: center;
}
